* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  font-family: "High Tower Text", sans-serif;
  font-weight: 300;
  color: rgb(68, 67, 67);
  background-color: #f4f4f4;
}

h1 {
  font-size: 4.5rem;
}

.nav_bar {
  display: flex;
  margin-top: 10px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 2rem;
  z-index: 100;
}

/* Center nav bar links */
.nav_bar__links {
  display: flex;
  align-items: center;
  list-style: none;
  font-family: "High Tower Text";
  font-size: 2rem;
  color: black;
  text-decoration: none;
  transition: all 0.5s;
  cursor: pointer;
}

.nav_bar__item {
  margin-left: 4rem;
}

/* Sticky nav bar after certain scrolling */
.nav.sticky {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
}

.nav__logo {
  height: 3.5rem;
  transition: all 0.3s;
}

/* Header and intro */
.header {
  padding: 0 3rem;
  height: 10vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.intro__title {
  flex: 2;
  display: grid;
  grid-template-columns: 4fr 3fr;
  row-gap: 1rem;
  max-height: 100%;
  align-content: center;
  justify-content: center;

  align-items: start;
  justify-items: start;
}

.intro__img {
  width: 525px;
  height: auto;
  grid-column: 2 / 3;
  grid-row: 1 / span 4;
  border-radius: 50%;
  overflow: hidden;
  margin-top: 15%;
}

.btn--text {
  display: inline-block;
  background: none;
  font-size: 1.5rem;
  font-family: inherit;
  font-weight: 400;
  border: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 4px;
  cursor: pointer;
  transition: all 0.3s;
  margin-left: 30%;
}

.intro {
  font-size: 6rem;
  margin-top: 25%;
  margin-left: 30%;
}

/* GENERAL ELEMENTS */
.section {
  margin-top: 15%;
  padding: 5rem 3rem;
  padding-bottom: 15rem;
  border-top: 1px solid #ddd;
  position: relative;
  transition: transform 1s, opacity 1s;
}

#section--1 {
  margin-bottom: -35%;
}

.section__organizer {
  font-size: 2rem;
  text-align: left;
  padding-top: 1%;
  border-top: 2px solid #ddd;
}

.section__container {
  max-width: 65%;
  margin: 0 auto -15rem auto;
  text-align: center;
  font-size: 6rem;
}

.section__description {
  margin-top: 2.5%;
  font-size: 1.4rem;
  font-weight: 500;
  color: rgb(68, 67, 67);
  margin-bottom: 1rem;
  text-align: left;
}

/* SLIDER */
.slider {
  max-width: 150rem;
  height: 100rem;
  margin: 0 auto;
  position: relative;
  border-top: 5px solid #ddd;
  border-bottom: 5px solid #ddd;
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100rem;
  /* object-fit: cover; */
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 1s;
}
/* Resize all images that don't fit */
.slide > img {
  max-width: 70rem;
  height: auto;
  object-fit: cover;
}

.slider__btn {
  bottom: 40%;
  position: absolute;
  background: rgba(255, 255, 255, 0.6);
  color: black;
  border-radius: 50%;
  height: 6.5rem;
  width: 6.5rem;
  font-size: 4rem;
  cursor: pointer;
}

.slider__btn--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slider__btn--right {
  right: 6%;
  transform: translate(50%, -50%);
}

.dots {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.dots__dot {
  background-color: black;
  opacity: 0.7;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 50%;
  margin-right: 1.75rem;
  cursor: pointer;
}

.dots__dot--active {
  background-color: #fff;
}

/* Contact Me form */
input[type="text"],
input[type="email"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid rgb(68, 67, 67);
  border-radius: 7px;
  box-sizing: border-box;
  margin-bottom: 12px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: green;
}

.container {
  padding: 20px;
  font-size: 2.5rem;
}

a:visited {
  color: rgb(68, 67, 67);
}

input {
  font-size: 1rem;
}

textarea {
  font-size: 1rem;
}
